.comparer {
  margin: 0 auto;
  max-width: 800px;
}

.comparer__input {
  margin-bottom: 32px;
}

.comparer__button {
  position: relative;
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-repeat: repeat-x;
  background-position: -1px -1px;
  background-size: 110% 110%;
  border: 1px solid rgba(27, 31, 35, 0.2);
  border-radius: 0.25em;
  appearance: none;

  color: #24292e;
  background-color: #eff3f6;
  background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
}

.comparer__button:hover {
  background-color: #e6ebf1;
  background-image: linear-gradient(-180deg, #f0f3f6 0%, #e6ebf1 90%);
  background-position: -.5em;
  border-color: rgba(27, 31, 35, 0.35);
}

.comparer__button:active {
  background-color: #e9ecef;
  background-image: none;
  border-color: rgba(27,31,35,0.35);
  box-shadow: inset 0 0.15em 0.3em rgba(27, 31, 35, 0.15);
}

.comparer__wrapper {}

.comparer__table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  border-collapse: collapse;
  table-layout: fixed;
}

.comparer__head {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.comparer__item {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.comparer__item--title {
  font-weight: 600;
  white-space: nowrap;
}

.comparer__item--normal {
  width: 50%;
}